.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em;;
}
.card {
  background: #fff5ee;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 255, 157, 0.1);
  flex: 1 1 calc(50% - 2em);

  border: 3px solid #fff5ee;

  display: flex;
  flex-direction: column;
  height: auto;
}


.text-container {
  flex-grow: 1;
  overflow: hidden;
} 

.text-content {
  max-height: 3.6em;
  overflow: hidden;
  transition: max-height 0.5s ease;
  line-height: 1.8em;
}

.text-content.expanded {
  max-height: 1000px;
}

.read-more-btn {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  align-self: self-start;
  margin-top: 15px;
}

.read-more-btn:hover {
  background-color: #f0f4ff;
  text-decoration: underline;
}


.featured-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em 0;
}

.featured-card {
  background: white;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.featured-card:hover {
  transform: translateY(-5px);
}

.project-img {
  max-width: 300px;
  width: 100%;
  height: 130px;
  object-fit: cover; 
  border-radius: 8px 8px 0 0;
  margin-bottom: 1rem;
}

.featured-card h3 {
  margin-top: 0;
  font-size: 1.1rem;
  color: #334155;
}

.featured-text {
  font-size: 0.9rem;
  color: #475569;
  margin-top: auto;
}
